:root{
    --vermelho: red;
    --dark: #292a2c;
}

body{
    background-color: var(--dark);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.logo{
    color:var(--vermelho);
    font-family: 'arial Black', Times;
    font-size: 30px;
    margin-left: 30px;
    margin-right: 25px;
}
.img-logo{
height: 20px;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    
}

header a{
    margin-top: 15px;
}

a{
    text-decoration: none;
    color:white;
    margin-right: 10px;
    font-size: 15px;
}

a:hover{
    color:#AAA;
}



/*Principal*/
.filmeprincipal{
    font-size: 16px;
    background-image:linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url('../img/atlanta.jpg');

    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    
}

.titulo-filme{
    font-size: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
}

.sinopse{
    font-size: 18px;
    width: 60%;
}

.botao{
    background-color: rgb(0,0,0,0.50);
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 7px;
    margin-top: 15px;
    transition: .3s ease all;
    margin-left: 18px;
}

.botao:hover{
    background-color:white;
    border: solid white;
    color:black
}


.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
    margin-right: 20px;
    
}

.title-fav{
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

